{% extends "base.html.twig" %}

{% block title %}Twenty-One Documentation{% endblock %}

{% block body %}
    <div class="main">
        <h1>Twenty-one documentation</h1>

        <h2>Flowchart</h2>
            <img src="{{ asset('img/flowchart.png') }}" alt="flowchart">

        <h2>Pseudocode</h2>
            <img src="{{ asset('img/pseudocode.png') }}" alt="pseudocode">

        <h2>Klasser Struktur</h2>
        <p>Koden använder de sex klasserna från ytterligare moment: `Card`, `CardGraphic`, `CardDeck`, `CardHand`, `Player` och `Game`.

        <p>`Card` klassen representerar ett standardkort med attribut såsom färg och värde. `CardGraphic` klassen som ärver från `Card` och lägger till funktionalitet för att visa kort med grafiska symboler. `CardDeck` hanterar en kortlek, antingen standard eller grafisk, och tillhandahåller metoder för att blanda, återställa, räkna eller ta bort kort. `CardHand` klassen representerar en spelares hand och tillåter att kort läggs till i handen och att information om korten i handen hämtas. `Player` representerar en spelare i spelet, med ett namn och en hand av kort lagrade i ett CardHand-objekt. `Game` hanterar hela spelet (spelare och kortlek). Den initialiseras med ett antal spelare och ett CardDeck-objekt. Metoder i klassen tillåter att dela ut kort till spelarna, spåra spelarhänder och underlätta spelinteraktioner.</p>
            
        <p>För att kunna utveckla implementationen för Twenty-One-spelet har jag skapat en ytterligare klass: `GamePlay`, som ärver från `Game`. Klassen tillåter att skapa en Dealer för spelet, nå en specifik spelares hand och board, samt räkna resultat när spelet är slut.</p>
    </div>
{% endblock %}