{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <div class="main">
        <h1>Lucky you!</h1>
        <h2>Lets see your kaomoji.</h2>
        <div class="lucky">
            <div class="kaomoji">
                <h3>{{ lucky }}</h3>
            </div>

            <img src="{{ asset('img/lucky.jpg') }}" alt="me">
        </div>
    </div>
{% endblock %}