{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <h1>This is the report page</h1>
            <a href="#kmom01"><h2>kmom01</h2></a>
            <p>Min mest omfattande kunskap och erfarenhet av objektorientering kommer från Oopython, där vi har arbetat med objektorientering under hela kursen. Under javascriptkursen förra hösten hade vi en snabb genomgång av objektorientering.</p>
            <p>För att komma igång med klasser i PHP är det viktigt att förstå att en klass fungerar som en mall för att skapa objekt. En klass definierar både egenskaper (variabler) och metoder (funktioner) för de objekt som skapas från den. Det är viktigt att notera att metoder delas mellan alla objekt som skapas från klassen, medan egenskaperna är individuella för varje objekt. Genom att förstå dessa grundläggande koncept kan man börja skapa sina första klasser och objekt i PHP.</p>
            <p>Kodbasen för uppgiften me/report är strukturerad med implementering av PHP, Symfony, Twig och Encore. Den är uppdelad i tre controllers för olika typer av begäranden: en för Twig-templates, en för JSON-respons och en för API-anrop. Symfony's routing och annotations används för att definiera vägar till respektive controllers, vilket ger en tydlig struktur. Separationen av controllers efter deras ansvarsområden underlättar underhåll och utökning av kodbasen. Twig-templates är utformade med separata block för olika delar av sidan, vilket möjliggör enkel återanvändning och modifiering av layouten.</p>
            <p>Baserat på artikeln "PHP The Right Way" finner jag flera delar extra intressanta och värdefulla. Speciellt avsnittet 'Coding Practices', särskilt 'The Basics', ger en solid grund för att både fräscha upp minnet och komma igång med lite mer avancerat PHP med fokus på objektorientering. 'Templating' är också en viktig del, särskilt med tanke på 'mvc'-kursen, och hjälper till att hantera mallar på ett effektivt sätt.</p>
            <p>Jag är också nyfiken på delar som 'Testing' och 'Server and Deployment', då de kan hjälpa mig att säkerställa kvaliteten hos en applikation och lära mig hur man distribuerar den.</p>
            <p>TIL (Today I Learned) för detta kursmoment är både objektorienteringens grundläggande koncept i PHP och det första steget i att implementera arkitekturen för Model-View-Controller (MVC) i PHP för att bygga en applikation.</p>
        </div>
    </div>
{% endblock %}