{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <h1>This is the report page</h1>
            <a href="#kmom01"><h2>kmom01</h2></a>
        </div>
    </div>
{% endblock %}